<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_description }}" />
    <script src="{{ url_for('static', path='js/htmx-min.js') }}"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
</head>

<body class="bg-slate-80">
    {% block header %}
    {% include "/shared/_header.html" %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block sidebar %}
    {% endblock %}

    {% block footer %}
    {% include "/shared/_footer.html" %}
    {% endblock %}
</body>

</html>