<a href="/" hx-get="/" hx-target="#pallete" hx-push-url="true" id="logo"
    class="d-block p-3 link-body-emphasis border-bottom text-decoration-none">
    Em
</a>
<ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
        <a href="/tunnels" hx-get="/tunnels" hx-target="#pallete" hx-push-url="true"
            class="d-block p-3 link-body-emphasis border-bottom text-decoration-none">
            <span class="material-symbols-outlined">

                account_tree

            </span>
        </a>
    </li>
    <!-- <li>
        <a href="/blocks" hx-get="/blocks" hx-target="#pallete" hx-push-url="true"
            class="d-block p-3 link-body-emphasis border-bottom text-decoration-none">
            <span class="material-symbols-outlined">
                apps
            </span>
        </a>
    </li> -->
    <li>
        <a href="/settings" hx-get="/settings" hx-target="#pallete" hx-push-url="true"
            class="d-block p-3 link-body-emphasis border-bottom text-decoration-none">
            <span class="material-symbols-outlined">
                tune
            </span>
        </a>
    </li>
    <li>
        <a href="/" class="d-block p-3 link-body-emphasis border-bottom text-decoration-none">

            <span class="material-symbols-outlined">
                contrast
            </span>

        </a>
    </li>

</ul>