@import "bs/bootstrap-reboot.css";
@import "bs/bootstrap.css";
@import "bs/bootstrap-utilities.css";

/* General Styles */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--jg-pink);
}

/* Left-Panel Styles */

#left-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 72px;
  border-right: 1px solid;
  border-color: var(--bs-border-color);
  background: var(--bs-tertiary-bg-rgb);
}

#logo {
  color: var(--jg-pink) !important;
  font-size: 1.5rem;
}

#left-panel a {
  margin: 0 auto;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.navbar {
  background-color: var(--bs-tertiary-bg-rgb);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--jg-panel-bg);
}

form .btn {
  background-color: var(--jg-pink);
  border-color: var(--jg-pink);
  color: var(--jg-panel-bg);
}

form .btn:hover {
  background-color: #fff;
  border-color: var(--jg-pink);
  color: var(--bs-body-bg);
}

.page-layout {
  display: flex;
  flex: 1;
  margin-left: 72px;
}

/* Pallete Panel-2 */

#pallete {
  background: var(--jg-panel-bg);
  flex-basis: inherit;
}

.col2,
.col3 {
  flex: 1;
  border-color: var(--jg-border-color);
}

#pallete .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

/* sets list layout when .list is added to .grid-container element */
#pallete .grid-container.list {
  display: block;
  grid-template-columns: none;
  gap: unset;
  padding: 20px;
}

.card {
  display: flex;
  padding: 1rem;
  border: 1px solid;
  border-color: var(--bs-border-color);
  margin: 0;
  border-radius: 10px;
  background: var(--bs-tertiary-bg-rgb);
  flex-direction: column;
  justify-content: space-evenly;
}

/* sets list layout when .list is added to .grid-container element */
.grid-container.list .card {
  margin: 0 0 1rem 0;
}

#pallete .grid-container.form-view {
  display: block;
  grid-template-columns: none;
  padding: 20px;
  margin: 2rem auto;
  max-width: 70%;
}

.card .thumbnail {
  width: 50px;
  height: 50px;
  margin-right: 0.5em;
  border-radius: 50%;
}

.card .content {
  display: flex;
  font-size: x-small;
  flex-grow: 1;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.card .content .material-symbols-outlined {
  font-size: small;
  color: var(--bs-text-muted);
  display: flex;
  flex-direction: row-reverse;
}

.card .text-block {
  display: inline-block;
}

.card .block-name {
  margin: 0;
  margin-bottom: 0.2em;
}

.card .block-description {
  margin: 0;
}

/* Right Panel */

#right-panel {
  background: var(--bs-tertiary-bg-rgb);
  flex: 1; /* flex: equal cols */
}

#right-panel .menu {
  padding: 1rem; /* padding: 1rem; for full width pallete */
  padding: 0.25em;
}

/* Chat Thread Specific */

.chat-thread {
  padding: 0 1rem;
}

.list-group-item-action:hover,
.list-group-item-action:focus,
.list-group-item-action:active {
  z-index: 1;
  color: unset;
  text-decoration: none;
  background-color: unset;
}

.chat-thread .user {
  background-color: var(--jg-user-chat-bg);
  border: none;
}

.chat-thread .assistant {
  background-color: var(--jg-panel-bg);
  border: none;
}

.chat-thread .user.input {
  width: 100%;
  padding: 10px;
}

.chat-thread .user.input textarea {
  background-color: var(--jg-user-chat-bg);
  border: none;
  padding: 0.5em;
  width: 100%;
}

.chat-thread .user.input textarea:focus-visible {
  outline: none;
}
